@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ring: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@supports selector(:has(*)) {
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --ring: 0 0 0 3px rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --ring: 0 0 0 3px rgba(255, 255, 255, 0.1);
  }
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7e8f;
}
